:root{
    --titleFont: 'Abril Fatface', serif;
    --bodyFont: Poppins, sans-serif;
    --activecolor: rgb(244, 244, 4);
    --titlefont1:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


.landing{
    background: url(../images/landing\ 7.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw; 
    overflow: hidden;
}

#majorw{
   
    font-size: 4rem;
    padding-top: 30vh;
    
    
  }

#intro{
    font-family: var(--bodyFont);
}


#mission-word p{
    font-family: var(--bodyFont);
}

.mtitle{
    font-family: var(--titleFont);
    background-color: var(--activecolor);
}

.mission-cart{
    border-top: 10px solid var(--activecolor);
}



#founder{
    font-family: var(--bodyFont);
}

.team{
    
    padding-right: 10px;
}

#meb-founder1{
    width: 15rem;
  
}

#majorw{
   
    font-size: 4rem;
    padding-top: 30vh;
    
    
  }


  @media (max-width: 768px){
    .landing{
    
        height: 80vh;
        
        
    }


    #majorw{

        font-size: 2rem;
        padding-top: 30vh;
        
        
      }

}


@media(max-width:640px ){
    #meb-founder{
        border-radius: 0;
    }

    .landing{
    
        height: 70vh;
        
        
    }


    
    
    

}