:root{
    --titleFont: 'Abril Fatface', serif;
    --bodyFont: Poppins, sans-serif;
    --activecolor: rgb(244, 244, 4);
    --titlefont1:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


.landing{
    background: url(../images/landing\ 6.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw; 
    overflow: hidden;
}






#donation{
    /* border-top: 0.5rem solid rgb(227, 205, 1); */
    font-family: Roboto, sans-serif;
  }
  
  .donationImages{
    width: 35rem;
    height: 20rem;
  }
  
  #donation3{
    width: 35rem;
    height: 40rem;
  }
  
  
  
  .donationword{
    font-family: Roboto, sans-serif;
    height: 30rem;
    
    
  }
  .butt{
    transition: all 1S ease-in-out;
  }
  
.butt:hover{
    transition: all 1s ease-in-out;
    opacity: 0.8;  
}

.activeword{
    font-family: Roboto, sans-serif;
    border-radius: 0 0 20px 20px;
}


  

  

  