:root{
    --titleFont: 'Abril Fatface', serif;
    --bodyFont: Poppins, sans-serif;
    --activecolor: rgb(244, 244, 4);
    --titlefont1:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.landing{
    background: url(../images/landing\ 7.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw; 
    overflow: hidden;
}

#majorw{
    
    padding-top: 20vh;
    text-shadow: 2px 2px 2px black;
    
}

.whitecane{
    width: 350px;
}